<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices Management</title>
    <link rel="stylesheet" href="/public/assets/css/all.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="/public/assets/js/three.min.js"></script>
</head>

<body>
    <div id="scene-container"></div>
    <button class="back-button" onclick="window.history.back()">بازگشت</button>
    <div class="container">
        <h1 class="page-title">دستگاه ها</h1>

        <div class="search-container">
            <input type="search" class="search-input" placeholder="جستجوی دستگاه..." id="searchDevices">
        </div>

        <div class="grid" id="devicesGrid">
            <!-- Devices will be dynamically added here -->
        </div>

        <button class="fab-button" id="addDeviceToDBButton" aria-label="Add new device">+</button>
    </div>

    <script type="module" src="/public/js/device/devices.js"></script>
    <script src="/public/js/three.js"></script>
</body>

</html>