<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <title>Part Details</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/form.css">
    <script type="module" src="/public/js/part/parts-details.js" defer></script>
</head>

<body>
    <button class="back-button" id="backBtn">بازگشت</button>
    <div class="form_container">
        <h1 class="title">جزییات قطعه</h1>
        <form id="partDetailsForm">
            <div class="form-group">
                <label>نام قطعه</label>
                <input type="text" id="partName" placeholder="نام">
            </div>

            <div class="form-group">
                <label>سایز</label>
                <input type="text" id="partSize" placeholder="سایز" 
                       oninput="formatSize(this)">
            </div>

            <div class="form-group">
                <label>جنس</label>
                <input type="text" id="partMaterial" placeholder="جنس">
            </div>

            <div class="form-group">
                <label>برند</label>
                <input type="text" id="partBrand" placeholder="برند">
            </div>

            <div class="form-group">
                <label>قیمت</label>
                <input type="text" 
                       placeholder="قیمت" 
                       id="partPrice" 
                       inputmode="numeric" 
                       oninput="formatPrice(this)"
                       required>
            </div>

            <div class="button-container">
                <button type="submit" class="save-button">ذخیره</button>
            </div>
        </form>
    </div>
   
    <script type="text/javascript" src="/public/js/format-price-html.js"></script>
</body>

</html>