<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=project-width, initial-scale=1.0">
    <title>Projects Management</title>
    <link rel="stylesheet" href="/public/assets/css/all.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <button class="back-button" onclick="window.history.back()">بازگشت</button>
    <div class="container">
        <h1 class="page-title">پروژه ها</h1>

        <div class="search-container">
            <input type="search" class="search-input" placeholder="جستجوی دستگاه..." id="searchProjects">
            
            <div class="sort-container">
                <button class="sort-icon">
                    <i class="fas fa-sort"></i>
                </button>
                <div class="sort-dropdown">
                    <div class="sort-option" data-sort="name">
                        <i class="fas fa-font"></i>
                        مرتب‌سازی براساس نام
                        <i class="fas fa-arrow-up direction"></i>
                    </div>
                    <div class="sort-option" data-sort="date">
                        <i class="fas fa-calendar"></i>
                        مرتب‌سازی براساس تاریخ
                        <i class="fas fa-arrow-up direction"></i>
                    </div>
                </div>
        
        </div>

        <div class="grid" id="projectsGrid">
            <!-- Projects will be dynamically added here -->
        </div>

        <button class="fab-button" id="addProjectToDBButton" aria-label="Add new project">+</button>
    </div>

    <script type="module" src="/public/js/project/projects.js"></script>
</body>

</html>