/* selected card */
.selected {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 1;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    color: var(--text);
}

.selected::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    z-index: -1;
    transition: all 0.3s ease;
}

.selected:hover::before {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
}

.selected:hover {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
}

/* style disable class */
.disabled {
    opacity: 0.5;
    pointer-events: none;
}
